.cell {
    background: #3e3e3e;
    border: 1px solid lightgray;
    border-radius: 4px;
    float: left;
    line-height: 45px;
    height: 57px;
    text-align: center;
    width: 57px;
    cursor: pointer;
    color: gray;
    font-weight: 600;

    &:focus {
      outline: none;
    }
  }
  .hidden {
    background: gray;
  }
  .is-flag,
  .is-mime {
    color: #fc543c;
  }