.clear {
    clear: both;
    content: "";
  }
  
  
.game-info {
  background: lightgray;
  // padding: 7px;
  text-align: center;
  color: #000;
  // min-height: 100px;
  // border-radius: 7px;
  // .info {
  //   display: block;
  //   margin-top: 15px;
  // }
  // h1,p {
  //   margin: 0;
  // }
  
}
  
